<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        var socket = io.connect('http://localhost');
        socket.on('client', function (data) {
            $("#clientid").val(data.clientId);                
        });

        socket.on('cursor', function(data) {
            ctx.fillCircle(data.posX, data.posY, radius, fillColor);
        });

        socket.on('play', function(data){
            ctx.fillCircle(data.posX, data.posY, radius, fillColor);
        });

        $("#startBtn").on("click", function() {

            if ($(this).attr('value') == 'Record'){
                $(this).attr('value', 'Stop recording');
                $("#form").attr("action", "/start");
            }
            else{
              $(this).attr('value', 'Record'); 
              $("#form").attr("action", "/stop");  
          }

        });

        $("#form").submit(function(e){
            $.post($(this).attr('action'), $(this).serialize(), function(res){       
                console.log(res);       
            });

            return false;
        });

        $("#playBtn").on("click", function(){
            initContainer();

            socket.emit('play');
        });

        $("#clearBtn").on("click", function() {
            initContainer();
        });

        function initContainer() {
            $(container).empty();
            init(container, 500, 500, '#ddd');
        }
        

        // Creates a new canvas element and appends it as a child
        // to the parent element, and returns the reference to
        // the newly created canvas element

        var radius = 10; // or whatever
        var fillColor = '#ff0000';
        var ctx = null;

        function createCanvas(parent, width, height) {
            var canvas = {};
            canvas.node = document.createElement('canvas');
            canvas.context = canvas.node.getContext('2d');
            canvas.node.width = width || 100;
            canvas.node.height = height || 100;
            parent.appendChild(canvas.node);
            return canvas;
        }

        function init(container, width, height, fillColor) {
            var canvas = createCanvas(container, width, height);
            ctx = canvas.context;
            // define a custom fillCircle method
            ctx.fillCircle = function(x, y, radius, fillColor) {
                this.fillStyle = fillColor;
                this.beginPath();
                this.moveTo(x, y);
                this.arc(x, y, radius, 0, Math.PI * 2, false);
                this.fill();            
            };
            ctx.clearTo = function(fillColor) {
                ctx.fillStyle = fillColor;
                ctx.fillRect(0, 0, width, height);
            };
            ctx.clearTo(fillColor || "#ddd");

            // bind mouse events
            canvas.node.onmousemove = function(e) {
                if (!canvas.isDrawing) {
                 return;
             }
             var x = e.pageX - this.offsetLeft;
             var y = e.pageY - this.offsetTop;      
             var fillColor = '#ff0000';
             ctx.fillCircle(x, y, radius, fillColor);

                socket.emit('cursor', { posX: x, posY: y }); // notify cursor position
            };
            canvas.node.onmousedown = function(e) {
                canvas.isDrawing = true;
            };
            canvas.node.onmouseup = function(e) {
                canvas.isDrawing = false;
            };
        }

        var container = document.getElementById('canvas');
        init(container, 500, 500, '#ddd');
    });
</script>


<div>
    <form id="form" action="/start" method="POST">
        <input type="hidden" value="" id="clientid" name="clientid" />
        <input type="submit" value="Record" id="startBtn" />
    </form>

    <input type="button" value="Play" id="playBtn" name="playBtn" />

    <input type="button" value="Clear" id="clearBtn" name="clearBtn" />
</div>


<div id="canvas">Click to draw<br/></div>